<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA82Ro72nzJ6jDt_ijf8LFBo1aRJdlIVwo&sensor=true">
</script>

<div id="map_canvas" style="width:640px; height:480px"></div>